h1 { background-color: lavender; }
h2 { background-color: lavenderblush; }
h3 { background-color: lawngreen; }
h4 { background-color: lightblue; }
h5 { background-color: lightsalmon; }
h6 { background-color: lightseagreen; }
article { background-color: blue; }
.A1 { background-color: aqua; }
.B2 { background-color: green; }
.C3 { background-color: pink; }
.D4 { background-color: purple; }
.E5 { background-color: yellow; }
.F6 { background-color: white; }